//========LITE_THEME=========
$--bg_sidebar: #f8f8f8;

$--text_sidebar: #111111;

$--bg_header: #ffffff;
$--text_header: #111111;
$--bg-search: #f8f8f8;


$--bg_page: #ffffff;
$--text_page: #111111;

$--bg_modal: #ffffff;
$--text_modal: #111111;






$default-font: 'Noto Sans JP', sans-serif;
$light_gray: rgba(198, 198, 198, 0.58);
$gray: #a4a4a4;
$red: #f4003f;
$gutter40: 35px;
