@font-face {
	font-family: 'YouTube';
	src: url('./YouTubeSansLight.otf');
	font-weight: 100;
}

@font-face {
	font-family: 'YouTube';
	src: url('./YouTubeSansMedium.otf');
	font-weight: 200;
}

@font-face {
	font-family: 'YouTube';
	src: url('./YouTubeSansRegular.otf');
	font-weight: 400;
}


@font-face {
	font-family: 'YouTube';
	src: url('./YouTubeSansExtrabold.otf');
	font-weight: 600;
}
